*.zip
banned-ips.json
banned-players.json
cache/*
commands.yml
eula.txt
help.yml
libraries/*
logs/*
ops.json
permissions.yml
plugins/LuckPerms/translations/*
plugins/WorldEdit/.archive-unpack/*
VillageDefense_world/playerdata/*
wepif.yml
whitelist.json
versions/1.18.1/paper-1.18.1.jar
VillageDefense_world/advancements/*
VillageDefense_world/stats/*
plugins/Essentials/userdata/*
